:root {
  --background-1: #121212;
  --color-letter-1: #fafafa;
  --black-color: #000;
  --white-color: #fff;
  --color-letter-2: #aaa;
  --blue-page: #0094f3;
}
body{
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-1);
  color: var(--color-letter-1);
}

a {
  color: var(--color-letter-1);
  text-decoration: none;
}

.active {
  font-weight: bold;
}

ul {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label span {
  font-weight: bold;
  margin-bottom: .5em;
  color: var(--color-letter-2);
  font-size: .7em;
}

input {
  background-color: #3b3b3b;
  color: var(--color-letter-2);
  border: 1px solid #555;
  border-radius: 2px;
  padding: 10px 8px;
  outline: none;
  margin-bottom: .6em;
}

input::placeholder {
  color: var(--color-letter-2);
}

.btn,
button,
input[type="submit"]{
  background-color: var(--blue-page);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  padding: 10px 8px;
  font-weight: bold;
  cursor: pointer;
  opacity: .8;
  font-size: 1em;
}

input[type="submit"] {
  margin-top: 1em;
}

input:disabled {
  cursor: not-allowed;
  background-color: var(--black-color);
}

button:hover,
input[type="submit"]:hover {
  opacity: 1;
}

.cancel-btn {
  background-color: #ccc;
}

.hide {
  display: none;
}